{% extends 'base.html' %}
<style>
  form{
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.06);

  }
</style>


  {% block body %}

    <form class="container" action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{form.as_p}}
        <button class="btn btn-secondary" type="submit">Submit</button>
    </form>
    {% for i in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{i}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  
    {% endfor %}

  {% endblock %}